.main-container{
  height:50rem;
  width: 50rem;
}
.profileDetails{
  border:2px solid salmon ;
  background-color: aliceblue;
  width: 35%;
  padding: 25px;
  margin: auto;
  margin-top: 12.25rem;
  margin-bottom: 12.25rem;
}
img{
  width:100%;
  border-radius: 5%;
}
#empName{
  color:rgb(6, 182, 206);
  font:bold;
  font-size:50px;
  font-family: 'Arbutus Slab', serif;
}
h3{
  color: gray;
}
.moreDetails{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:black;
  font-weight: bolder;
  font-size: 30px;
}
